$primary-background: #1f1d27;
$text-color: #c9d1d9;
$link-color: #aa95f5;
$code-background: #282a36;
$table-header-background: rgba(255, 255, 255, 0.065);

body {
  font-family: "Inter";
  background-color: $primary-background;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  margin: 2rem 0 0 0;
  line-height: 1.25;
}

a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #666;
  padding: 4px 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  font-weight: bold;
  background-color: $table-header-background;
}

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px dashed rgba(250, 100, 50, 0.3);
  background-color: rgba(200, 200, 200, 0.2);
}

.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

.zola-anchor {
  margin-left: 8px;
}

p code {
  font-weight: bold;
  font-size: 0.9em;
}

li code {
  font-weight: bold;
  font-size: 0.9em;
}

code {
  padding: 2px 5px;
  color: #f8f8f2;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  background-color: $code-background;
}

pre code {
  font-weight: normal;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
  text-wrap: nowrap;
  background-color: $code-background;
}

pre code,
pre {
  border-radius: 8px;
}

code {
  border-radius: 4px;
}

nav a,
.footnote-reference a {
  font-weight: bold;
}

// Scrollbar
pre {
  scrollbar-color: $link-color $code-background;
  overflow-x: auto;
}
