{{ define "main" }}
	<div>
		<img src="/images/mads-nielsen.jpg" alt="Profile Image" class="profile-image">
	</div>

	{{ .Content }}

	<h2>Recent projects</h2>
	{{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "projects") }}
		<div>
			<h3><a href="{{ .RelPermalink }}">{{ .Title }} ({{ time.Format "2006-01-02" .Date }})</a></h3>
			<p>{{ .Params.description }}</p>
		</div>
	{{ end }}
	{{ if gt (len (where .Site.RegularPages.ByDate "Section" "projects")) 3 }}
		<a href="/projects">View All</a>
	{{ end }}

	<h2>Recent blogposts</h2>
	{{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
		<div>
			<h3><a href="{{ .RelPermalink }}">{{ .Title }} ({{ time.Format "2006-01-02" .Date }})</a></h3>
			<p>{{ .Params.description }}</p>
		</div>
	{{ end }}
	{{ if gt (len (where .Site.RegularPages.ByDate "Section" "blog")) 3 }}
		<a href="/blog">View All</a>
	{{ end }}
{{ end }}
